  <div class="card">
                        <div class="header bg-light-green">
                            <span> Your balance: 0  </span>  <span class="position">Highest Bid Price : 00.00  USD</span>
                        </div>
                        <div class="body">
 
 <div [formGroup]="sellform">
  <div class="form-group ">
                                      <div class="form-line">
                                          <input type="text" id="Amount" formControlName="Amount"  class="form-control " placeholder="Amount">
                                          <!--<label class="form-label">Amount Eth</label>-->
                                      </div>
                                      <div><app-validation-message controlname="Amount"  [control]="sellform.controls.Amount"></app-validation-message></div>
                                  </div>

                                  <div class="form-group ">
                                      <div class="form-line">
                                          <input type="text" id="Rate" formControlName="Rate" class="form-control " placeholder="Price per unit in USD">
                                          <!--<label class="form-label">Price per unit in USD</label>         -->
                                     
                                      </div>
                                      <div><app-validation-message controlname="Rate" class="form-control "  [control]="sellform.controls.Rate"></app-validation-message></div>
                                  </div>
                                  <!--<input  [hidden]="true"  value="buy" formControlName="buy">-->
                                   <div class="col-sm-6">
                                    <div class="form-group">
                                        
                                            <label> Total  </label>
                                            <label id="total" ></label>
                                    </div>
                                </div>

                                 <div class="col-sm-6">
                                    <div class="form-group">
                                            <label > Fee </label>
                                             <label id="fee" ></label>
                                      </div>
                                </div>
                               
                                <br>
                                 <button  type="button" class="btn btn-primary m-t-15 waves-effect" >Calculate</button>
                                <button [disabled]="sellform.invalid"  type="submit"  class="btn btn-primary m-t-15 waves-effect position" >Sell</button>

 </div>
                        </div>
                        </div>
