<div class="row clearfix">
	<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
		<app-stoc-chart></app-stoc-chart>
		<div class="row clearfix price_wrap">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<app-curenncy-order _orderMode="Sell" _currencyType="USD" _newCurrencyType="LTC"></app-curenncy-order>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<app-curenncy-order _orderMode="Buy" _currencyType="LTC" _newCurrencyType="USD"></app-curenncy-order>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 market_table_wrap">
		<app-stoc-market></app-stoc-market>
	</div>
</div>


<div class="row clearfix">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<app-order-component _orderMode="Sell" _currencyType="LTC" ></app-order-component>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<app-order-component _orderMode="Buy" _currencyType="LTC" ></app-order-component>
	</div>
</div>