

<div class="popup-login" *ngIf="IsUserunauthorized">
    <div class="home">


 <div class="login-page" >
	<div class="row">
		<div class="col s12 m6 l4 ">
			<div class="card">
				<div class="header">
					<h2>
					   You must log in to continue.
					</h2>
				</div>
				<div class="body">
					<app-login></app-login>
				</div>
			</div>
		</div>
	</div>
 </div>

    </div>
</div>


<div class="popup-login" *ngIf="Ispaymentrequired">
 <div class="home">
 <div class="login-page" >
	<div class="row">
		<div class="col s12 m6 l4 ">
		<div class="card">
				<div class="header">
					<h2>
					  Payment Required
					</h2>
				</div>
				<div class="body">
                    <p>You have not enough balance for this Operation </p><br>
               <div class="col-xs-12 align-right">
				<button type="submit" class="btn btn-primary waves-effect " (click)="payment()">Ok</button>	
               </div>
			   <br>
				</div>
			</div>
		</div>
	</div>
 </div>
    </div>
</div>