 


<div class="card">
<div class="header">
			<h2>Company Profile<a [routerLink]="['create_company']" style="float:right;">Create Company</a></h2>
		</div>
  <div class="body">
    <!--<div class="table-responsive ">-->
    <table  class="table table-striped " >
    <thead>
    <tr>
        <th >Company Name</th>
        <th> Company ID</th>
        <th>Company Director</th>
       <th >Company Pancard</th>
        
    </tr>
    </thead>
    <tbody >
    <tr   >
         <td>vrishti yadav </td>
         <td>34324235</td>
         <td>342</td>  
         <td>324</td>
         
        </tr>
         <tr   >
         <td>nisha </td>
         <td>34324235</td>
         <td>7567</td>  
         <td>5213</td>
        
        </tr>
         <tr   >
         <td>testuseri </td>
         <td>34324235</td>
         <td>6437</td>  
         <td>346</td>
        
        </tr>
         <tr   >
         <td>myTest </td>
         <td>34324235</td>
         <td>3546</td>  
         <td>8898</td>
        
        </tr>
    </tbody>
   
</table>
 </div>
  <!--</div>-->
</div>



    