

<div class="row clearfix">
	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<app-stoc-chart></app-stoc-chart>
		<div class="row clearfix price_wrap">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 buy-ltc-wrap">
				
			<app-curenncy-order _orderMode="Buy" _currencyType="BTC"></app-curenncy-order>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 sell-ltc-wrap">
				<app-curenncy-order _orderMode="Sell" _currencyType="BTC"></app-curenncy-order>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 market_table_wrap">
		<app-stoc-market></app-stoc-market>
	</div>
</div>


<div class="row clearfix">
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<app-order-component _orderMode="Sell" _currencyType="BTC" ></app-order-component>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
		<app-order-component _orderMode="Buy" _currencyType="BTC" ></app-order-component>
	</div>
</div>

