<div class="card">
         <div class="header bg-light-green">
            <span>Buy Order </span>  <span class="position">Total : 0.00  USD</span>
         </div>
         <div class="body">
            <div class="body table-responsive scrollit">
               <table class="table table-hover ">
                  <thead>
                     <tr>
                       <th>Price</th>
                        <th>LTC</th>
                        <th>USD</th>
                        
                     </tr>
                  </thead>
                  <tbody >
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Jellybean</td>
                       
                     </tr>
                     <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Kikat</td>
                       
                     </tr>
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Jellybean</td>
                       
                     </tr>
                     <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Kikat</td>
                       
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
