
<div class="tab-content">
   <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
<div class="card">
         <div class="header bg-light-green">
            <span>{{_orderMode}} Order </span>  <span class="position">Total : 0.00  {{_currencyType}}</span>
         </div>
         <div class="body">
            <div class="body table-responsive scrollit">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th>Price</th>
                        <th>LTC</th>
                        <th>USD</th>
                        
                     </tr>
                  </thead>
                  <tbody >
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Jellybean</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Kikat</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">4</th>
                        <td>Larry</td>
                        <td>Jellybean</td>
                        
                     </tr>
                     <tr>
                        <th scope="row">5</th>
                        <td>Larry</td>
                        <td>Kikat</td>
                        
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>