
<div class="tab-content">
   <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">
<div class="card">
         <div class="header bg-light-green">
            
            <span>{{_orderMode}} Order </span>  <span class="position">Total : 0.00  {{_currencyType}}</span>
         </div>
         <div class="body">
            <div class="body table-responsive scrollit">
               
               <table class="table table-hover">
                  <thead>
                     <tr>
                          <th>Sn</th>
                        <th>Price</th>
                        <th>LTC</th>
                        <th>USD</th>
                        
                     </tr>
                  </thead>
                  <tbody >
                     <tr *ngFor="let order of _orderlist; let i = index" >
                    
                        <th scope="row">{{i+1}} </th>
                        <td>{{order.Rate}}</td>
                        <td>{{order.Amount}}</td>
                        <td>{{order.Amount*order.Rate}}</td>
                     </tr>
                
                  
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
</div>