
<div class="card">
  <div class="header">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6">
        <h2>{{_orderMode}} Order</h2>
      </div>
      <div class="col-xs-12 col-sm-6 align-right">
        <!--<h2>Total : <span style="display:inline-block" class="fadeInDown animated">0.00</span>  {{_currencyType}}</h2>-->
        <!--<div class="switch panel-switch-btn">
          <label>OFF<input type="checkbox" id="realtime" checked><span class="lever switch-col-cyan"></span>ON</label>
        </div>-->
        <app-currency-volume CurrencyType="{{_currencyType}}" OrderMode="{{_orderMode}}"></app-currency-volume>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Sn</th>
            <th>Price</th>
            <th>LTC</th>
            <th>USD</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let order of _orderlist; let i = index" >
            <th scope="row">{{i+1}} </th>
            <td>{{order.Rate}}</td>
            <td>{{order.Amount}}</td>
            <td>{{order.Amount*order.Rate}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>