<div class="clearfix"></div>
<div class="white-box">
    <div class="white-box-title">
        <h3 class="box-title pull-left">View Announcement</h3>
       
        <div class="clearfix"></div>
    </div>

      <div>
          <div>Subject</div>
          <div>{{announcement.subject}}</div>
      </div>
      <div>
          <div>Message</div>
          <div>{{announcement.message}}</div>
      </div>
      <div>
          <div>Created By</div>
          <div>{{announcement.addedby}}</div>
      </div>
      <div>
          <div>Date</div>
          <div>{{announcement.createdOn | date:'medium'}}</div>
      </div>
    
   
  </div>







    