<div class="white-box fee_rules">
    <div class="white-box-title">
        <h3 class="box-title">Broadcast</h3>
    </div>
    <div class="white-box-cont">
      <div class="row">
          <div class="col-md-6">                
              <div class="sub-box-title">
                  <label for="">Subject</label>
              </div>             
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter Subject Here">                    
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Message"></textarea>
                      <small><b>You have 50 of 200 characters remaining.</b></small>
                    </div>
                </div>
              </div>    
          </div>
      </div>        
    </div>
    <div class="white-box-footer text-left">
        <button type="submit" class="btn btn-danger">Send</button>
     </div>
</div>