
<div class="card">
<div class="header bg-cyan">
			<h2>{{_currencyType}} {{_orderMode}} Latest Transaction</h2>
		</div>
  <div class="body" style="overflow-y: auto; overflow-x: auto;">
    <!--<div class="table-responsive ">-->
    <table  class="table table-striped " >
    <thead>
    <tr>
        <th >
          Emails
          </th>
        <th>
           Volume
        </th>
        <th>Remain Volume</th>
       <th >Price</th>
        <th>
            Status
        </th>
                    
              <th> 
              Action
              </th>
    </tr>
    </thead>
    <tbody >
    <tr   >
         <td>vrishti.yadav@gmail.com</td>
         <td>34324235</td>
         <td>34234234</td>  
         <td>324</td>
         <td>Open</td>
         <td>sdew</td>
        </tr>
         <tr   >
         <td>nisha@gmail.com</td>
         <td>34324235</td>
         <td>34234234</td>  
         <td>324</td>
         <td>Open</td>
         <td>sdew</td>
        </tr>
         <tr   >
         <td>testuseri@gmail.com</td>
         <td>34324235</td>
         <td>34234234</td>  
         <td>324</td>
         <td>Open</td>
         <td>sdew</td>
        </tr>
         <tr   >
         <td>myTest@gmail.com</td>
         <td>34324235</td>
         <td>34234234</td>  
         <td>324</td>
         <td>Open</td>
         <td>sdew</td>
        </tr>
    </tbody>
   
</table>
 </div>
  <!--</div>-->
</div>



    