

                    <div class="card">
                        <div class="header bg-red">
                            <h2>
                                Current Buy Trade Price 
                            </h2>
                        </div>
                        <div class="body">
                           <ul >
                             <li>ETH  200-00</li>
                              <li>BTC 656554</li>
                               <li>INR 656554</li>
                             </ul>
                        </div>
                    </div>
             

