
<div class="tab-content">
	<div class="card">          
		<div class="header">
			<h2>Set Fee</h2>
		</div>		
		<div class="body">
		
	
		 	
			<form  class="rahul"	 (ngSubmit)="submitOrder(OrderFormModel)" [formGroup]="OrderFormModel" >
				<div class="form-group m-b-15">
					<div class="form-line">
            
              <select class="form-control show-tick" formControlName="CurrencyType">
				  <option value="" selected>Select Currency</option>
              <option value="BTC" >BTC</option>
              <option value="ETH">ETH</option>
             
              </select>
					</div>
				</div>  
			
				<div class="form-group m-b-15">
					<div class="form-line">
						 
              <select class="form-control show-tick" formControlName="OrderMode">
				  <option value="" selected>Select Mode</option>
              <option value="Buy">Buy</option>
              <option value="Sell">Sell</option>
              </select>
					</div>
					</div>
				
		<div class="form-group m-b-15">
					<div class="form-line">
					   <input type="text"  formControlName="Rate"  class="form-control " placeholder="Rate">
					   
					</div>
					<div>
						<app-validation-message  controlname="Rate"  [control]="OrderFormModel.controls.Rate"></app-validation-message>
					</div>
				</div>	
				
			
				
			
				<div class="group-btn-wrap clearfix">
				
					<button [disabled]="OrderFormModel.invalid" type="submit" class="btn btn-primary waves-effect position" >Submit</button>
				</div>
			</form>  
		</div>
	</div>
</div>
