
<div class="card">

  <div class="body">
    <!--<div class="table-responsive ">-->
    <table  class="table table-striped " id="{{id}}">
    <thead>
    <tr>
      <th >
        Sn
        </th>
        <th >
          Type
          </th>
        <th>
           Amount
        </th>
        <th>Rate</th>
       <th >Total</th>
        <th>
            Filled Amount
        </th>
        <th>
            Remainig Amount
        </th>
        <th>
           Filled %
        </th>
        <th> 
          Order Status
          </th>
            <th> 
             Date
              </th>             
              <th> 
              Action
              </th>
    </tr>
    </thead>
    <tbody >
    <tr  *ngFor="let order of _matchOrders ; let i = index"  >
            <td scope="row">{{i+1}}</td>
            <td *ngIf="order.OrderMode==1">Sell</td>
            <td *ngIf="order.OrderMode==2">Buy</td>
           
            <td>{{order.Amount | number : '1.0-8'}}</td>
            <td>{{order.Rate | number : '1.0-8'}}</td>
           <td>{{order.Rate*order.Amount | number : '1.0-8'}}</td>
            <td>{{order.FilledAmount | number : '1.0-8'}}</td>
            <td>{{order.RemainigAmount | number : '1.0-8'}}</td>
            <td>{{(order.Amount-order.RemainigAmount)/order.Amount*100}} %</td>
            <td *ngIf="order.OrderStatus==1">Open</td>
            <td *ngIf="order.OrderStatus==2">Close</td>
            
            <td>{{order.CreationDateTime | date:'medium'}}</td>
          
            <td><button (click)="showDetail(order.OrderId)">Detail</button></td>
        </tr>
    </tbody>
   
</table>
 </div>
  <!--</div>-->
</div>



      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 card" *ngIf="Isauthorized">
        <div class="">
  <div class="header">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-6">
        <h2>Match Order</h2>
      </div>
    </div>
  </div>
  <div class="body">
    <div class="table-responsive ">
    <table class="table table-striped " [mfData]="newdetail" #mf="mfDataTable" [mfRowsOnPage]="200" >
    <thead>
    <tr>
      <th width="4%">
        <mfDefaultSorter >Sn</mfDefaultSorter>
        </th>
        <th width="10%">
          <mfDefaultSorter by="OrderMode">Type</mfDefaultSorter>
          </th>
        <th  width="10%">
            <mfDefaultSorter by="Amount">Amount</mfDefaultSorter>
        </th>
        <th width="10%"><mfDefaultSorter by="Rate">Rate</mfDefaultSorter></th>
        <!--<th width="10%"><mfDefaultSorter by="Total">Total</mfDefaultSorter></th>-->
        <th width="10%">
            <mfDefaultSorter by="FilledAmount">Filled Amount</mfDefaultSorter>
        </th>
        <th width="10%">
            <mfDefaultSorter by="RemainigAmount">Remainig Amount</mfDefaultSorter>
        </th>
        <th width="10%"> 
          <mfDefaultSorter by="OrderStatus">Order Status</mfDefaultSorter>
          </th>
            <th  width="10%"> 
              <mfDefaultSorter by="CreationDateTime">Date</mfDefaultSorter>
              </th>
             
            
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let order of mf.data ; let i = index"  >
            <th scope="row">{{i+1}}</th>
            <td *ngIf="order.OrderMode==1">Sell</td>
            <td *ngIf="order.OrderMode==2">Buy</td>
            <td>{{order.Amount | number : '1.0-8'}}</td>
            <td>{{order.Rate | number : '1.0-8'}}</td>
            <!--<td>{{order.Rate*order.Amount | number : '1.0-8'}}</td>-->
            <td>{{order.FilledAmount | number : '1.0-8'}}</td>
            <td>{{order.RemainigAmount | number : '1.0-8'}}</td>
            <td *ngIf="order.OrderStatus==1">Open</td>
            <td *ngIf="order.OrderStatus==2">Close</td>
            <td>{{order.CreationDateTime | date:'medium'}}</td>
          
            
        </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="9">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <button (click)="hideDetail()">Ok</button>
        </td>
    </tr>
    </tfoot>
</table>
 </div>
  </div>
</div>
    </div>
