<div class="tab-content" >
  <div class="card">
    <div class="header">
      <h2><app-my-currency-balance _currencyType="{{currencytype}}"  #f ></app-my-currency-balance> </h2> 
    </div>
    <div class="body">
            <form   class="rahul{{_orderMode}}" (ngSubmit)="onSubmit(depositmodel)" [formGroup]="depositmodel" >
              <label>Amount {{currencytype}}</label>
              <div class="form-group">
                <div class="form-line">
                    <input type="text"  formControlName="Amount"  class="form-control " placeholder="Amount">
                </div>
                <div>
                    <app-validation-message controlname="Amount"  [control]="depositmodel.controls.Amount"></app-validation-message>
                </div>
              </div>
              <button [disabled]="depositmodel.invalid" type="submit" class="btn btn-primary waves-effect position"  >Deposit</button> 
            </form>  
    </div>
  </div>
</div>