section.content{
	margin:100px 15px 0 265px;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.card{
	margin-bottom: 25px;	
}
.card .body {
    font-size: 12px;
	color: #555;
}
.card .header{
	padding:15px 20px;
	background:#f8f8f8;
}
.card .body{
	padding:12px 12px;
}
.price_wrap .col-lg-3,.price_wrap .col-lg-9{
	margin-bottom: 0!important;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 10px;
	padding-right: 10px;
}
.row{
	margin-left: -10px;
	margin-right: -10px;
}
.form-group{
	position: relative;
}
.card .body .col-xs-3, .card .body .col-sm-3, .card .body .col-md-3, .card .body .col-lg-3{
	margin-bottom: 0;
}
.price-table-wrap{
	max-height: 420px;
	overflow-y: auto;
}
.price-table-wrap thead {
	background:#eee;
	margin-bottom:10px;
	border-bottom:solid 1px #ccc!important; 
}
.m-b-15 {
  margin-bottom: 15px; 
}
.m-b-10 {
  margin-bottom: 10px; 
}

/* Loader ================================== */
.page-loader-wrapper{
	background:rgba(238,238,238,.9);
}
/*----Loding----*/
#c { 
	position: absolute;
	top: 50%; 
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}
.s {width:20px;height: 20px;border-radius: 50%;cursor: pointer;float: left;-webkit-transition: all 0.2s;-moz-transition: all 0.2s;transition: all 0.2s;}
.s:nth-child(n+2) {margin-left: 80px;}
.s:nth-child(1) {background: #33ffbb;-webkit-animation: r0 2s 0s ease-out infinite;-moz-animation: r0 2s 0s ease-out infinite;animation: r0 2s 0s ease-out infinite;}
.s:nth-child(1):hover {background: #ff3333;-webkit-animation: r20 0.5s 0.4s ease-out infinite;-moz-animation: r20 0.5s 0.4s ease-out infinite;animation: r20 0.5s 0.4s ease-out infinite;}

@-webkit-keyframes r0 {
0% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 0px rgba(26, 255, 179, 0);}
10% {box-shadow: 0 0 8px 6px #1affb3,  0 0 12px 14px #1affb3;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 40px rgba(26, 255, 179, 0);}
}
@-moz-keyframes r0 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 0px rgba(26, 255, 179, 0);}10% {box-shadow: 0 0 8px 6px #1affb3,  0 0 12px 14px #1affb3;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 40px rgba(26, 255, 179, 0);}
}
@keyframes r0 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 0px rgba(26, 255, 179, 0);}10% {box-shadow: 0 0 8px 6px #1affb3,  0 0 12px 14px #1affb3;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 179, 0),  0 0 0px 40px rgba(26, 255, 179, 0);}
}
@-webkit-keyframes r20 {from {box-shadow: 0 0 8px 6px #ff1a1a,  0 0 12px 14px #ff1a1a;}to {box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 41px rgba(255, 26, 26, 0);}
}
@-moz-keyframes r20 {from {box-shadow: 0 0 8px 6px #ff1a1a,  0 0 12px 14px #ff1a1a;}to {box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 41px rgba(255, 26, 26, 0);}
}
@keyframes r20 {from {box-shadow: 0 0 8px 6px #ff1a1a,  0 0 12px 14px #ff1a1a;}to {box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 41px rgba(255, 26, 26, 0);}
}
.s:nth-child(2) {background: #33ffdd;-webkit-animation: r1 2s 0.25s ease-out infinite;-moz-animation: r1 2s 0.25s ease-out infinite;animation: r1 2s 0.25s ease-out infinite;
}
.s:nth-child(2):hover {background: #ff4733;-webkit-animation: r21 0.5s 0.4s ease-out infinite;-moz-animation: r21 0.5s 0.4s ease-out infinite;animation: r21 0.5s 0.4s ease-out infinite;
}

@-webkit-keyframes r1 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 0px rgba(26, 255, 217, 0);}10% {box-shadow: 0 0 8px 6px #1affd9,  0 0 12px 14px #1affd9;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 40px rgba(26, 255, 217, 0);}
}
@-moz-keyframes r1 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 0px rgba(26, 255, 217, 0);}10% {box-shadow: 0 0 8px 6px #1affd9,  0 0 12px 14px #1affd9;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 40px rgba(26, 255, 217, 0);}
}
@keyframes r1 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 0px rgba(26, 255, 217, 0);}10% {box-shadow: 0 0 8px 6px #1affd9,  0 0 12px 14px #1affd9;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 217, 0),  0 0 0px 40px rgba(26, 255, 217, 0);}
}
@-webkit-keyframes r21 {from {box-shadow: 0 0 8px 6px #ff301a,  0 0 12px 14px #ff301a;}to {box-shadow: 0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 41px rgba(255, 48, 26, 0);}
}
@-moz-keyframes r21 {from {box-shadow: 0 0 8px 6px #ff301a,  0 0 12px 14px #ff301a;}to {box-shadow: 0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 41px rgba(255, 48, 26, 0);}
}
@keyframes r21 {from {box-shadow: 0 0 8px 6px #ff301a,  0 0 12px 14px #ff301a;}to {box-shadow: 0 0 8px 6px rgba(255, 48, 26, 0), 0 0 4px 41px rgba(255, 48, 26, 0);}
}
.s:nth-child(3) {background: #33ffff;-webkit-animation: r2 2s 0.5s ease-out infinite;-moz-animation: r2 2s 0.5s ease-out infinite;animation: r2 2s 0.5s ease-out infinite;
}
.s:nth-child(3):hover {background: #ff5c33;-webkit-animation: r22 0.5s 0.4s ease-out infinite;-moz-animation: r22 0.5s 0.4s ease-out infinite;animation: r22 0.5s 0.4s ease-out infinite;
}

@-webkit-keyframes r2 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 0px rgba(26, 255, 255, 0);}10% {box-shadow: 0 0 8px 6px #1affff,  0 0 12px 14px #1affff;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 40px rgba(26, 255, 255, 0);}
}
@-moz-keyframes r2 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 0px rgba(26, 255, 255, 0);}10% {box-shadow: 0 0 8px 6px #1affff,  0 0 12px 14px #1affff;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 40px rgba(26, 255, 255, 0);}
}
@keyframes r2 {0% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 0px rgba(26, 255, 255, 0);}10% {box-shadow: 0 0 8px 6px #1affff,  0 0 12px 14px #1affff;}100% {box-shadow: 0 0 8px 6px rgba(26, 255, 255, 0),  0 0 0px 40px rgba(26, 255, 255, 0);}
}
@-webkit-keyframes r22 {from {box-shadow: 0 0 8px 6px #ff471a,  0 0 12px 14px #ff471a;}to {box-shadow: 0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 41px rgba(255, 71, 26, 0);}
}
@-moz-keyframes r22 {from {box-shadow: 0 0 8px 6px #ff471a,  0 0 12px 14px #ff471a;}to {box-shadow: 0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 41px rgba(255, 71, 26, 0);}
}
@keyframes r22 {from {box-shadow: 0 0 8px 6px #ff471a,  0 0 12px 14px #ff471a;}to {box-shadow: 0 0 8px 6px rgba(255, 71, 26, 0), 0 0 4px 41px rgba(255, 71, 26, 0);}
}
.s:nth-child(4) {background: #33ddff;-webkit-animation: r3 2s 0.75s ease-out infinite;-moz-animation: r3 2s 0.75s ease-out infinite;animation: r3 2s 0.75s ease-out infinite;
}
.s:nth-child(4):hover {background: #ff7033;-webkit-animation: r23 0.5s 0.4s ease-out infinite;-moz-animation: r23 0.5s 0.4s ease-out infinite;animation: r23 0.5s 0.4s ease-out infinite;
}

@-webkit-keyframes r3 {0% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 0px rgba(26, 217, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ad9ff,  0 0 12px 14px #1ad9ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 40px rgba(26, 217, 255, 0);}
}
@-moz-keyframes r3 {0% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 0px rgba(26, 217, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ad9ff,  0 0 12px 14px #1ad9ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 40px rgba(26, 217, 255, 0);}
}
@keyframes r3 {0% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 0px rgba(26, 217, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ad9ff,  0 0 12px 14px #1ad9ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 217, 255, 0),  0 0 0px 40px rgba(26, 217, 255, 0);}
}
@-webkit-keyframes r23 {from {box-shadow: 0 0 8px 6px #ff5e1a,  0 0 12px 14px #ff5e1a;}to {box-shadow: 0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 41px rgba(255, 94, 26, 0);}
}
@-moz-keyframes r23 {from {box-shadow: 0 0 8px 6px #ff5e1a,  0 0 12px 14px #ff5e1a;}to {box-shadow: 0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 41px rgba(255, 94, 26, 0);}
}
@keyframes r23 {from {box-shadow: 0 0 8px 6px #ff5e1a,  0 0 12px 14px #ff5e1a;}to {box-shadow: 0 0 8px 6px rgba(255, 94, 26, 0), 0 0 4px 41px rgba(255, 94, 26, 0);}
}
.s:nth-child(5) {background: #33bbff;-webkit-animation: r4 2s 1s ease-out infinite;-moz-animation: r4 2s 1s ease-out infinite;animation: r4 2s 1s ease-out infinite;
}
.s:nth-child(5):hover {background: #ff8533;-webkit-animation: r24 0.5s 0.4s ease-out infinite;-moz-animation: r24 0.5s 0.4s ease-out infinite;animation: r24 0.5s 0.4s ease-out infinite;
}

@-webkit-keyframes r4 {0% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 0px rgba(26, 178, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ab2ff,  0 0 12px 14px #1ab2ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 40px rgba(26, 178, 255, 0);}
}
@-moz-keyframes r4 {0% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 0px rgba(26, 178, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ab2ff,  0 0 12px 14px #1ab2ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 40px rgba(26, 178, 255, 0);}
}
@keyframes r4 {0% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 0px rgba(26, 178, 255, 0);}10% {box-shadow: 0 0 8px 6px #1ab2ff,  0 0 12px 14px #1ab2ff;}100% {box-shadow: 0 0 8px 6px rgba(26, 178, 255, 0),  0 0 0px 40px rgba(26, 178, 255, 0);}
}
@-webkit-keyframes r24 {from {box-shadow: 0 0 8px 6px #ff751a,  0 0 12px 14px #ff751a;}to {box-shadow: 0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 41px rgba(255, 117, 26, 0);}
}
@-moz-keyframes r24 {from {box-shadow: 0 0 8px 6px #ff751a,  0 0 12px 14px #ff751a;}to {box-shadow: 0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 41px rgba(255, 117, 26, 0);}
}
@keyframes r24 {from {box-shadow: 0 0 8px 6px #ff751a,  0 0 12px 14px #ff751a;}to {box-shadow: 0 0 8px 6px rgba(255, 117, 26, 0), 0 0 4px 41px rgba(255, 117, 26, 0);}
}
.s:nth-child(6) {background: #3399ff;-webkit-animation: r5 2s 1.25s ease-out infinite;-moz-animation: r5 2s 1.25s ease-out infinite;animation: r5 2s 1.25s ease-out infinite;
}
.s:nth-child(6):hover {background: #ff9933;-webkit-animation: r25 0.5s 0.4s ease-out infinite;-moz-animation: r25 0.5s 0.4s ease-out infinite;animation: r25 0.5s 0.4s ease-out infinite;
}

@-webkit-keyframes r5 {0% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 0px rgba(26, 140, 255, 0);}10% {box-shadow: 0 0 8px 6px #1a8cff,  0 0 12px 14px #1a8cff;}100% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 40px rgba(26, 140, 255, 0);}
}
@-moz-keyframes r5 {0% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 0px rgba(26, 140, 255, 0);}10% {box-shadow: 0 0 8px 6px #1a8cff,  0 0 12px 14px #1a8cff;}100% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 40px rgba(26, 140, 255, 0);}
}
@keyframes r5 {0% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 0px rgba(26, 140, 255, 0);}10% {box-shadow: 0 0 8px 6px #1a8cff,  0 0 12px 14px #1a8cff;}100% {box-shadow: 0 0 8px 6px rgba(26, 140, 255, 0),  0 0 0px 40px rgba(26, 140, 255, 0);}
}
@-webkit-keyframes r25 {from {box-shadow: 0 0 8px 6px #ff8c1a,  0 0 12px 14px #ff8c1a;}to {box-shadow: 0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 41px rgba(255, 140, 26, 0);}
}
@-moz-keyframes r25 {from {box-shadow: 0 0 8px 6px #ff8c1a,  0 0 12px 14px #ff8c1a;}to {box-shadow: 0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 41px rgba(255, 140, 26, 0);}
}
@keyframes r25 {from {box-shadow: 0 0 8px 6px #ff8c1a,  0 0 12px 14px #ff8c1a;}to {box-shadow: 0 0 8px 6px rgba(255, 140, 26, 0), 0 0 4px 41px rgba(255, 140, 26, 0);}
}

/* Chat ================================== */
.chat-wrap{
	/*min-height:500px;*/
	margin:-12px -6px;;
}
.chat-wrap .col-xs-12, 
.chat-wrap .col-sm-12, 
.chat-wrap .col-md-12, 
.chat-wrap .col-lg-12{
	margin-bottom: 0!important;
}
.chat-wrap .panel {
    background-color: #fff;
    border-radius:0px;
    box-shadow:none;
	border-color: none!important;
    margin-bottom: 0px;
}
.panel-primary{
	border: none!important;
}
.chat-wrap ul{padding:0;}
.chat-wrap ul li{
	list-style: none;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body {
    margin-right: 60px;
}

/* Message ================================== */
.error-txt-msg{
	color:red;
	display:inline-block;
	position: absolute;
	right: 0;
	top: 7px;
}

/* Header ================================== */
.navbar-brand{
	font-size: 22px;
	font-weight: 300;
}
.navbar-nav .user-info{
  margin-top:18px;
  margin-left:15px;
}
.navbar-nav .user-info > div{
  display: inline-block;
}
.navbar-nav .user-info .image img{
  width:30px;
  height:32px;
  border-radius:50%;
}
.navbar-nav .user-info .btn-group{
  box-shadow: none;
  color:#fff;
  cursor: pointer;
}
.navbar-nav .user-info .btn-group .dropdown-menu{
    margin-top:22px!important;
    min-width: 220px;
}
.navbar-nav .user-info .btn-group .dropdown-menu .name,.navbar-nav .user-info .btn-group .dropdown-menu .email{
  color:#444; text-align: center;margin:5px 0
}
.navbar-nav .user-info .btn-group .dropdown-menu .name{ 
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-nav .user-info .btn-group .dropdown-menu .email{
  margin-bottom: 15px;
}

/* Background Color Animation ================================== */
.animation-blue-bg{
	background-color: #d1e6f6;
}
.animation-red-bg{
	background-color:#f6d4d1;
}
.animation-yellow-bg{
	background-color:#fbf4c7;
}
.animation-green-bg{
	background-color:#ceebd3;
}
.animation-green-bg,
.animation-red-bg,
.animation-blue-bg,
.animation-yellow-bg{
   transition: background-color 700ms linear;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-iteration-count: 2; 
    animation-iteration-count: 2;
}

/* Charts ====================================== */
/* Morris */
.panel-switch-btn {
  right:0px; 
  }

/* Left Sidebar ================================== */
.sidebar{
	width:250px;
}
.sidebar .menu .list a span{
	font-size: 13px;
	margin: 3px 0 3px 10px;
	font-weight: 400;
}
.sidebar .menu .list i.material-icons{
	font-size:18px;
}
.sidebar .menu .list .ml-menu span,.sidebar .menu .list .ml-menu li .ml-menu li a{
	font-size: 13px;
}
.sidebar .menu .list .ml-menu li a{
	padding-left:45px;
}
.sidebar .menu .list .ml-menu li .ml-menu li a{
	padding-left:65px;
}
.sidebar .menu .list .header{
	padding: 20px;
}
.sidebar .menu .list .header i{
	color: #2b9eef;
	font-size: 24px;
}
.sidebar .menu .list .header{
	background-color:#eee;
  padding:20px;
}
.sidebar .menu .list .header i,.sidebar .menu .list .header span{
 display: inline-block;
 vertical-align: middle;
}
.sidebar .menu .list .header span{
  margin-left:10px;
  font-size: 16px;
  margin-top: 4px;
}

/* Market Table ================================== */
.market_table_wrap table{
	margin-bottom:0;
}
.market_table_wrap .material-icons{
	font-size: 14px;
	width:10px;
}
.market_table_wrap .red-bg{
	background:#f6d4d1!important;
	border-top:solid 2px #c02a1d;
	border-bottom:solid 2px #c02a1d;
}
.market_table_wrap .yellow-bg{
	background:#fbf4c7!important;
	border-top:solid 2px #f7ab1c;
	border-bottom:solid 2px #f7ab1c;
}
.market_table_wrap .green-bg{
	background:#ceebd3!important;
	border-top:solid 2px #27892f;
	border-bottom:solid 2px #27892f;
}
.market_table_wrap thead {
	background:#99e4ee;
}
.market_table_wrap thead th{
	border:solid 1px #c4f0f6;
}
.market_table_wrap .table tbody tr td,
.market_table_wrap .table tbody tr th{
	padding:6px!important;
}
.market_table_wrap .dataTables_scrollBody{
	max-height:550px;
	overflow-y: auto
}

/* Login and SignUp Page ================================== */
.errormsg{ 
	top: -8px;
	position: relative;
	display: block;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
.home .header,
.SignUp .header{
padding: 16px 30px;
}
.home,
.SignUp {
	background-color: #324e7c;
	min-height: 100vh;
}
.SignUp .register-page {
	padding-left: 0;
	max-width: 360px;
	margin: 5% auto;
}
.home .login-page,
.SignUp .register-page{
	overflow-x:visible;
	background: none;
	margin-top: calc(100vh / 4.5 );
}
.home .login-page .logo-head h3,
.SignUp .register-page .logo-head h3{
	font-size: 30px;
	font-weight: 400;
	color:#fff;
	text-align: center;
	margin-bottom: 20px;
}
.home .login-page [type="checkbox"] + label{
	font-size: 1.3rem;
}
.home section.content,
.SignUp section.content{
	margin:0;
}
.home .login-page .m-b-0,
.home .login-page .col-xs-6.m-b-0,
.SignUp .register-page .m-b-0,
.SignUp .register-page .col-xs-6.m-b-0{
	margin-bottom: 0;
}
.home .login-page .card .body,
.SignUp .register-page .card .body{
	padding: 30px;
}

/* Stock Chart ================================== */
.dashboard-flot-chart{
	height:100px!important;
}

/* Lowest Price ================================== */
.order_header p{margin-bottom: 0;}

/* Calculation Price Wrap ================================== */
.order_header .col-xs-6{
	margin-bottom:5px!important
}
.animate-down {  
   background:none;
   border:none;
   padding:0; 
   cursor:default;
   display:inline-block;
   font-weight: bold;
}
.order_header{
	font-size:13.5px;
	color:#333;
}
.order_header .txt1 .price-wrap,
.order_header .txt2 .price-wrap{
	display:block;	
	font-size:14px; 
	margin-top:3px;
	color:#4285f4;
}
/*@keyframes flickerAnimation {
    0% {
  opacity:0;
  -webkit-transform:translate3d(0,-30%,0);
  transform:translate3d(0,-30%,0);
 }
 100% {
  opacity:1;
  -webkit-transform:none;
  transform:none;
 }
}
@-o-keyframes flickerAnimation  {
    0% {
  opacity:0;
  -webkit-transform:translate3d(0,-30%,0);
  transform:translate3d(0,-30%,0);
 }
 100% {
  opacity:1;
  -webkit-transform:none;
  transform:none;
 }
}
@-moz-keyframes flickerAnimation  {
   0% {
  opacity:0;
  -webkit-transform:translate3d(0,-30%,0);
  transform:translate3d(0,-30%,0);
 }
 100% {
  opacity:1;
  -webkit-transform:none;
  transform:none;
 }
}
@-webkit-keyframes flickerAnimation {
   0% {
  opacity:0;
  -webkit-transform:translate3d(0,-30%,0);
  transform:translate3d(0,-30%,0);
 }
 100% {
  opacity:1;
  -webkit-transform:none;
  transform:none;
 }
}
.animate-flicker {
    animation: flickerAnimation 1.5s infinite alternate;
   -webkit-animation: flickerAnimation 1.5s infinite alternate;
   -moz-animation: flickerAnimation 1.5s infinite alternate;
   -o-animation: flickerAnimation 1.5s infinite alternate;   
   background:none;
   border:none;
   padding:0; 
   cursor:default;
   color:#2b9eef;
   display:inline-block;

}*/


/* Responsive CSS ================================== */
@media (max-width: 768px) {

	.navbar-nav .user-info{
		top:-8px;
		position: relative;
	}
	.navbar-nav .user-info .btn-group .dropdown-menu{
		top: 18px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	}
	.navbar .navbar-collapse{
		margin-right:0;
	}
	
}