<div class="card">
  
  <div class="body">
    <!--<div class="table-responsive ">-->
    <table class="table table-striped " id="{{id}}" >
    <thead>
    <tr>
      <th >
        Sn
        </th>
        <th>
          Type
          </th>
        <th >
            Amount
        </th>
       <th>
        Rate
         </th>
        <!--<th>
         Total
          </th>-->
        <th>
            Remainig Amount
        </th>
        <th>
        Filled %
         </th>
            <th> 
              Date
              </th>
             
              <th> Action</th>
    </tr>
    </thead>
    <tbody>
    <tr  *ngFor="let order of _activeOrders ; let i = index"  >
            <th scope="row">{{i+1}}</th>
            
           <td *ngIf="order.currencyType==3">ETH</td>
            <td *ngIf="order.currencyType==2">BTC</td>       
            <td>{{order.Amount}}</td>
          
           <td>{{order.Rate | number : '1.0-8'}}</td>
            <!--<td>{{order.Rate*order.Amount | number : '1.0-8'}}</td>-->
            <td>{{order.RemainingAmount}}</td>
            <td>{{((order.Amount-order.RemainingAmount)/order.Amount*100)}} %</td>
            <td>{{order.CreationDateTime | date:'medium'}}</td>
           
            <td><Button>Cancel</Button></td>
        </tr>
    </tbody>
    
</table>
 </div>
  <!--</div>-->
</div>