	<div class="user-info  text-center">
							<div class="image">
								<img src="../../assets/images/user.png" width="48" height="48"  alt="User" />
							</div>
							<div class="btn-group user-helper-dropdown">
								<i class="fas fa-angle-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></i>
								<ul class="dropdown-menu pull-right">
									<!--<div class="name">John Doe</div>-->
									<div class="email">{{_user}}</div>
									<li role="seperator" class="divider"></li>
									<li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
									<li role="seperator" class="divider"></li>
									<li><a (click)="_sharedservice.logout()"  class="chat-button show-on-large"><i class="material-icons">input</i>Sign Out</a></li>
								</ul>
							</div>
						</div>
