<!-- Left Sidebar -->
        <aside *ngIf="_IsAuthenticated==true && location.path()!=''" id="leftsidebar" class="sidebar">
           
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header"><i class="material-icons">apps</i><span>{{_title}}</span></li>
                
            
                     <!--<li [routerLinkActive]="['active']">
                        <a [routerLink]="['LtcUsd']">
                            <i class="material-icons">text_fields</i>
                            <span>LTC/INR</span>
                        </a>
                    </li>-->
                     <li [routerLinkActive]="['active']">
                        <a [routerLink]="['Btc_Inr']">
                            <i class="material-icons">text_fields</i>
                            <span>BTC/INR</span>
                        </a>
                    </li>
                     <li [routerLinkActive]="['active']">
                        <a [routerLink]="['Eth_Inr']">
                            <i class="material-icons">text_fields</i>
                            <span>ETH/INR</span>
                        </a>
                    </li>
                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['MatchOrder']">
                            <i class="material-icons">text_fields</i>
                            <span>MatchOrder</span>
                        </a>
                    </li> 

                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['ActiveOrder']">
                            <i class="material-icons">text_fields</i>
                            <span>ActiveOrder</span>
                        </a>
                    </li>  


                    <li [routerLinkActive]="['active']">
                        <a [routerLink]="['deposit']">
                            <i class="material-icons">text_fields</i>
                            <span>DEPOSIT FORM</span>
                        </a>
                    </li>  




                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    Copyright &copy; 2017 <a href="javascript:void(0);">CryptoTrading</a>.
                </div>
                <div class="rights">All rights reserved.</div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->