<!-- Chat -->
<div class="card">
	<div class="header">
		<h2>Chat</h2>  
		<!--<ul class="header-dropdown m-r--5">
                                <li>
                                    <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer">
                                        <i class="material-icons">loop</i>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                        <i class="material-icons">more_vert</i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                        <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>                          -->
	</div>
	<div class="body">
		<div class="chat-wrap">
			<div class="chat-wrap">
				<!--<div class="chat-header"></div>
				<div class="chat-body">fghg</div>
				<div class="chat-footer"></div>-->
				
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <!--<div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                        <ul class="dropdown-menu slidedown">
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                            </span>Refresh</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                            </span>Available</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                            </span>Busy</a></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                            <li class="divider"></li>
                            <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                        </ul>
                    </div>
                </div>-->
                <div class="panel-body">
                    <ul class="chat">
                        <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
						<div class="divider" _ngcontent-xqp-15="" role="seperator"></div>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
						<div class="divider" _ngcontent-xqp-15="" role="seperator"></div>
						<li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="">
                                    <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
						<div class="divider" _ngcontent-xqp-15="" role="seperator"></div>
                        <li class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small>
                                    <strong class="pull-right primary-font">Bhaumik Patel</strong>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

			</div>
		</div>
	</div>
</div>


<!-- Markets -->
<!--<div class="card">
	<div class="header">
		<h2>Markets</h2>                            
	</div>
	<div class="body">
		<div class="body table-responsive">
		<div class="dataTables_Head">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><i class="material-icons">star_rate</i></th>
						<th>Coin</th>
						<th>Price</th>
						<th>Volume</th>
						<th>Change</th>
						<th>Name</th>
					</tr>
				</thead>
			</table>
		</div>
		<div class="dataTables_scrollBody slimScrollDiv">
		<table class="table table-striped">
			<tbody>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>ETH</strong></td>
					<td>0.12600382</td>
					<td>73495.829</td>
					<td>-8.80</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>XRP</strong></td>
					<td>0.45645643</td>
					<td>566495.829</td>
					<td>-12.56</td>
					<td>Ethereum</td>
				</tr>
				<tr class="green-bg">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>LTC</strong></td>
					<td>0.546345345</td>
					<td>73495.829</td>
					<td>-8.60</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>BTS</strong></td>
					<td>0.543434</td>
					<td>456.829</td>
					<td>+18.25</td>
					<td>Ethereum</td>
				</tr>
				<tr class="red-bg">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>DGB</strong></td>
					<td>0.56778678</td>
					<td>234.5345656</td>
					<td>+15.19</td>
					<td>Ethereum</td>
				</tr>
				<tr>
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>LBC</strong></td>
					<td>0.356456</td>
					<td>34.34535356</td>
					<td>+19.30</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>ETH</strong></td>
					<td>0.12600382</td>
					<td>73495.829</td>
					<td>-8.80</td>
					<td>Ethereum</td>
				</tr>
				<tr class="yellow-bg">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>XRP</strong></td>
					<td>0.45645643</td>
					<td>566495.829</td>
					<td>-12.56</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>LTC</strong></td>
					<td>0.546345345</td>
					<td>73495.829</td>
					<td>-8.60</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>BTS</strong></td>
					<td>0.543434</td>
					<td>456.829</td>
					<td>+18.25</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>DGB</strong></td>
					<td>0.56778678</td>
					<td>234.5345656</td>
					<td>+15.19</td>
					<td>Ethereum</td>
				</tr>   <tr class="yellow-bg">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>XRP</strong></td>
					<td>0.45645643</td>
					<td>566495.829</td>
					<td>-12.56</td>
					<td>Ethereum</td>
				</tr>
				<tr class="">
					<th> <i class="material-icons">star_rate</i></th>
					<td><strong>LTC</strong></td>
					<td>0.546345345</td>
					<td>73495.829</td>
					<td>-8.60</td>
					<td>Ethereum</td>
				</tr>                                                                                                      
			</tbody>
		</table>
		</div>
	</div>
	</div>
</div>-->
                    <!-- #Markets -->