<div class="card">
<div class="header">
			<h2>Manage Account Setting</h2>
		</div>
  <div class="body">
    <div class="form-group m-b-15">
					<label>Change Password: [<a [routerLink]="['manage_user']">Change your Password</a>]</label>
          
				</div>
        

  <div class="form-group m-b-15">
					<label>Two-Factor Authentication: if you enable then Two-Factor Authentication you got OTP on registered email id , and OTP is required for login when you enable:</label>
          <label><a src="">Disable</a>   <a src="">Enable</a> </label>
				</div>
  </div>
</div>
