
<div class="tab-content">
	<div class="card">          
		<div class="header">
			<h2>{{_orderMode}} {{_currencyType}}</h2>
		</div>		
		<div class="body">
			
			<div class="inblock order_header clearfix">
				<div style="width:105px; float: left;">

				<app-my-currency-balance   *ngIf="_orderMode== 'Buy'"   _orderMode="{{_orderMode}}" _currencyType="USD" #f ></app-my-currency-balance> 

			   <app-my-currency-balance  *ngIf="_orderMode=='Sell'" _orderMode="{{_orderMode}}" _currencyType="{{_currencyType}}" #f ></app-my-currency-balance> 
				<!--Your balance:
				<p>
					<a href="javascript:void(0)">
						<b><span class="money_usd">0</span><input id="" value="0" type="hidden"> USD</b>
					</a>
				</p>-->
				</div>
				<div style="width:115px; float: right;">
				<app-lowest-ask-price CurrencyType="{{_currencyType}}" OrderMode="{{_orderMode}}"></app-lowest-ask-price>
				</div>
			</div>
			
			<div role="seperator" class="divider"></div>
		 	
			<form  class="rahul{{_orderMode}}"	 (ngSubmit)="submitOrder(OrderFormModel)" [formGroup]="OrderFormModel" >
				<!--<label>Amount LTC:</label>-->
				<div class="form-group m-b-15">
					<div class="form-line">
					   <input type="text"  formControlName="Amount"  class="form-control " placeholder="Amount" (keyup)="getTotal()">
					</div>
					<div>
						<app-validation-message controlname="Amount"  [control]="OrderFormModel.controls.Amount"></app-validation-message>
					</div>
				</div>  
				<!--<label>Price per LTC:</label>-->
				<div class="form-group m-b-15">
					<div class="form-line">
						<input type="text"  formControlName="Rate" class="form-control " placeholder="Price per unit in USD" (keyup)="getTotal()">
					</div>
					<div>
						<app-validation-message controlname="Rate"  [control]="OrderFormModel.controls.Rate"></app-validation-message>
					</div>
				</div>  
				
				<div class="form-group clearfix m-b-10">
					<div class="row">

						<label class="control-label col-xs-3 " for="Total:">Total:</label>
						<div class="col-xs-3">
							<label id="total" >{{ _total}}</label>  
						</div>

						<label class="control-label col-xs-3" for="Fee:">Fee:</label>
						<div class="col-xs-3">
							<label id="fee" >{{_totalfee}}</label>
						</div>

					</div>	
				</div>	
				<div role="seperator" class="divider"></div>
				<p class="no-margin">Click to sum your order.</p>			
				<div class="group-btn-wrap clearfix">
					<button [disabled]="OrderFormModel.invalid" type="button" class="btn btn-primary waves-effect" (click)="getFee()">Calculate</button>
					<button [disabled]="OrderFormModel.invalid" type="submit" class="btn btn-primary waves-effect position" >{{_orderMode}}</button>
				</div>
			</form>  
		</div>
	</div>
</div>