<a  class="generate_btn pull-right">Export to CSV</a>
<br><br>
<div class="clearfix"></div>
<div class="white-box">
    <div class="white-box-title">
        <h3 class="box-title pull-left">Users List</h3>
        <div class="filter_cont pull-right">
            <form class="form-inline">
                <label>Search</label>
                <div class="form-group">             
                  <input type="text" class="form-control" id="search_your_term" placeholder="Search your term">               
                </div>
                <div class="form-group">
                    <input type="text" class="date form-control"  placeholder="Start Date">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="form-group">
                    <input type="text" class="date form-control" placeholder="End Date">
                    <i class="fas fa-calendar-alt"></i>
                </div>
                <div class="form-group" style="margin-left:30px;">
                  <label for="">Filter</label>
                  <select class="form-conrol" name="" id="">
                      <optgroup label="User Status">
                          <option value="">Blocked</option>
                          <option value="">Active</option>
                      </optgroup>
                      <optgroup label="KYC Status">
                          <option value="">Approved</option>
                          <option value="">Pending</option>
                      </optgroup>
                    
                  </select>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="white-box-cont">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
               <!-- <th>Name</th> -->
                <th>Email</th>
                <th>Contact</th>
                <th>Country</th>
                <th>Date/Time</th>
                <th class="text-center">KYC Status</th>
                <th class="text-center">User Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userslist;let rowIndex = index">
                    <td>{{rowIndex+1}}</td>
                   <!-- <td>{{user.UserName}}</td> -->
                    <td>{{user.Email}}</td>
                    <td>{{user.Contact}}</td>
                    <td>{{user.Country}}</td>
                    <td>{{user.LastUpdatedOn | date:'medium'}}</td>
                    <td class="text-center"><i class="status_check tick fas fa-check-circle"></i></td>
                    <td class="text-center">
                            <span *ngIf="updateUserId==rowIndex">
                                  <i class="status_check fas " [ngClass]="{'tick fa-check': updateUserStatus==false, ' cross fa-eye-slash':updateUserStatus==true}" ></i>
                             </span>
                            <span *ngIf="updateUserId!=rowIndex">
                                  <i class="status_check fas " [ngClass]="{'tick fa-check': user.IsLocked==true, ' cross fa-eye-slash':user.IsLocked==false}" ></i>
                            </span>
                       
                    
                    </td>
                    <td><a  (click)="user_profile()"  class="table_btn view-btn">View </a> 
                         <span *ngIf="updateUserId==rowIndex">
                            <a (click)="changeStatus(user.Email,false,rowIndex)" class="table_btn unblock-btn" *ngIf="(updateUserStatus==true)"><span>Unblock</span></a>
                            <a (click)="changeStatus(user.Email,true,rowIndex)" class="table_btn unblock-btn" *ngIf="(updateUserStatus==false)  "><span>Block</span></a>
                         </span>
                         <span *ngIf="updateUserId!=rowIndex">
                            <a (click)="changeStatus(user.Email,true,rowIndex)" class="table_btn unblock-btn" *ngIf="(user.IsLocked==true)"><span>Block</span></a>
                            <a (click)="changeStatus(user.Email,false,rowIndex)" class="table_btn unblock-btn" *ngIf="(user.IsLocked==false)  "><span>Unblock</span></a>
                       </span>
                        
                            
                        
                    </td>
                </tr> 
            </tbody>
          </table>
        </div>
  </div>







    