
<div class="white-box">
    <div class="white-box-title">
        <h3 class="box-title pull-left">KYC Details</h3>
        <div class="filter_cont pull-right">
            <form class="form-inline">
                <label>Search</label>
                <div class="form-group">             
                  <input type="text" class="form-control" id="search_your_term" placeholder="Search your term">               
                </div>                
                <div class="form-group" style="margin-left:30px;">
                  <label for="">Filter</label>
                  <select class="form-conrol" name="" id="">
                      <optgroup label="User Status">
                          <option value="">Blocked</option>
                          <option value="">Active</option>
                      </optgroup>
                      <optgroup label="KYC Status">
                          <option value="">Approved</option>
                          <option value="">Pending</option>
                      </optgroup>
                    
                  </select>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    
    <div class="white-box-cont">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Country</th>
                <th>ID/Address Proof</th>
                <th>Bank Details</th>
                <th class="text-center">KYC Status</th>
                <th class="text-center">User Status</th>
                
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john.doe@abc.com</td>
                    <td>+91-123456789</td>
                    <td>India</td>
                    <td><a  class="table_btn block-btn">View</a></td>
                    <td><a  class="table_btn block-btn">View</a></td>
                    <td class="text-center"><i class="status_check tick fas fa-check-circle"></i></td>
                    <td class="text-center"><i class="status_check cross fas fa-eye-slash"></i></td>                    
                </tr> 
              <tr>
                    <td>1</td>
                    <td>John Doe</td>
                    <td>john.doe@abc.com</td>
                    <td>+91-123456789</td>
                    <td>India</td>
                    <td><a  class="table_btn block-btn">View</a></td>
                    <td><a  class="table_btn block-btn">View</a></td>
                    <td class="text-center"><i class="status_check cross fas fa-times-circle"></i></td>
                    <td class="text-center"><i class="status_check tick fas fa-check"></i></td>
                    
                  </tr>
                  <tr>
                      <td>1</td>
                      <td>John Doe</td>
                      <td>john.doe@abc.com</td>
                      <td>+91-123456789</td>
                      <td>India</td>
                      <td><a  class="table_btn block-btn">View</a></td>
                      <td><a  class="table_btn block-btn">View</a></td>
                      <td class="text-center"><i class="status_check exclamation fas fa-exclamation-circle"></i></td>
                      <td class="text-center"><i class="status_check tick fas fa-check"></i></td>
                      
                  </tr>
            </tbody>
          </table>
        </div>
  </div>







    