
<div class="card">
<div class="header">
			<h2>Transaction User List</h2>
		</div>
  <div class="body">
    <!--<div class="table-responsive ">-->
    <table  class="table table-striped " >
    <thead>
    <tr>				
        <th >User Name</th>
        <th> Account Number</th>
        <th>Description</th>
       <th >UTR/Reference Number</th>
        <th> Amount</th>
       <th>  Transation Date</th>
    </tr>
    </thead>
    <tbody >
    <tr   >					
         <td>Ram Singh </td>
         <td>15sTeBUpstY1t97CgEmCaxyFno3hM2vhUX</td>
         <td>btc deposit info</td>  
         <td>e2c360d68cde566f637f5027</td>
         <td>50.00000000 BTC</td>
         <td>08/02/2017</td>
        </tr>
         <tr   >				
         <td>Ram Singh</td>
         <td>0x16vqzzHrZ5ryWDUK1offUk15F7YvKreh5G</td>
         <td>user eth trans info</td>  
         <td>364b008562f2fd00df26db38</td>
         <td>10.00000000 ETH</td>
         <td>	08/02/2017</td>
        </tr>
        
         
    </tbody>
   
</table>
 </div>
  <!--</div>-->
</div>



    