
<div class="card">
<div class="header">
			<h2>User Balance List</h2>
		</div>
  <div class="body">
    <!--<div class="table-responsive ">-->
    <table  class="table table-striped " >
    <thead>
    <tr>
        <th >User Name</th>
        <th> Account Number</th>
        <th>Total INR Balance</th>
       <th >Total BTC Balance</th>
        <th> Total ETH Balance</th>
       <th>  Action</th>
    </tr>
    </thead>
    <tbody >
    <tr   >
         <td>vrishti yadav </td>
         <td>34324235</td>
         <td>342</td>  
         <td>324</td>
         <td>567</td>
         <td>
           <button type="submit" class="btn btn-success waves-effect position" (click)="deposit()">Deposit</button>
           <button type="submit" class="btn btn-success waves-effect position" (click)="kycApprove()">KYC Approve</button>
           <button type="submit" class="btn btn-primary waves-effect position" (click)="userTransaction()" >Transaction Details</button>
           </td>
        </tr>
         <tr   >
         <td>nisha </td>
         <td>34324235</td>
         <td>7567</td>  
         <td>5213</td>
         <td>5673</td>
         <td>
           <button type="submit" class="btn btn-success waves-effect position" (click)="deposit()">Deposit</button>
           <button type="submit" class="btn btn-success waves-effect position" (click)="kycApprove()">KYC Approve</button>
           <button type="submit" class="btn btn-primary waves-effect position" (click)="userTransaction()" >Transaction Details</button>
           </td>
        </tr>
         <tr   >
         <td>testuseri </td>
         <td>34324235</td>
         <td>6437</td>  
         <td>346</td>
         <td>878</td>
          <td>
            <button type="submit" class="btn btn-success waves-effect position" (click)="deposit()">Deposit</button>
           <button type="submit" class="btn btn-success waves-effect position" (click)="kycApprove()">KYC Approve</button>
           <button type="submit" class="btn btn-primary waves-effect position" (click)="userTransaction()">Transaction Details</button>
           </td>
        </tr>
         <tr   >
         <td>myTest </td>
         <td>34324235</td>
         <td>3546</td>  
         <td>8898</td>
         <td>567</td>
         <td>
           <button type="submit" class="btn btn-success waves-effect position" (click)="deposit()">Deposit</button>
           <button type="submit" class="btn btn-success waves-effect position" (click)="kycApprove()">KYC Approve</button>
           <button type="submit" class="btn btn-primary waves-effect position" (click)="userTransaction()" >Transaction Details</button>
           </td>
        </tr>
    </tbody>
   
</table>
 </div>
  <!--</div>-->
</div>



    