 <div class="register-page" >
	<div class="row">
		<div class="col s12 m6 l4">
			<div class="logo-head">
				<h3>Crypto<strong>Trading</strong></h3>
			</div>
			<div class="card">
				<div class="header">
					<h2>
					   Register Here!
					</h2>
				</div>

				<div class="body">
					<form  [formGroup]="registermodel" (ngSubmit)="onSubmit(registermodel)" class="clearfix" >
						<span class="errormsg">{{_errormsg}}</span>
						<div class="form-group form-float">
							<div class="form-line">
								<input type="text" id="email" formControlName="Email" placeholder="Email" class="form-control">
								<!--<label class="form-label">Email</label>-->
							</div>
							<div><app-validation-message controlname="Email"  [control]="registermodel.controls.Email"></app-validation-message></div>
						</div>

						 <div class="form-group form-float">
							<div class="form-line">
								<input type="password" id="password"  formControlName="Password" placeholder="Password" #password class="form-control">
								<!--<label class="form-label">Password</label>-->
							 </div>
							 <div><app-validation-message controlname="Password" [control]="registermodel.controls.Password"></app-validation-message></div>
						</div>

						 <div class="form-group form-float">
							<div class="form-line">
								<input id="ConfirmPassword"  type="password"  formControlName="ConfirmPassword" placeholder="Confirm Password" class="form-control">
								<!--<label class="form-label">ConfirmPassword</label>-->
							 </div>
							 <div><app-validation-message controlname="Confirm Password" [confirmcontrol]="registermodel.controls.Password"  [control]="registermodel.controls.ConfirmPassword"></app-validation-message></div>
						</div>
						<div class="form-group form-float">
						<button [disabled]="registermodel.invalid" type="submit" 
						class="btn btn-block btn-lg btn-primary waves-effect">Register</button>
						</div>
					
						<div class="text-center">If you have already a<a href=""> User</a></div>
					</form>   
					<label>{{data | json}}</label>
				</div>
			</div>
		</div>
	</div>
 </div>

            

           
